
textarea {
    resize: vertical;
}

.table > thead > tr > th {
    background-color: #f2f2f2; /* Light grey background */
    color: #333; /* Dark text color for contrast */
    text-align: center; /* Center align header text */
}
.table {
    border-collapse: collapse; /* Ensure borders are collapsed to a single border */
    width: 100%; /* Table width to fill container */
}
.table-bordered > tbody > tr > td {
    vertical-align: middle; /* Align content in the middle vertically */
}
.edit-header {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.user-card {
    cursor: pointer;
}
.student-details a {
    margin-top: 1em;
}
/* .thumbnail {
    transition: all 0.3s ease-in-out;

}
.thumbnail:hover {
    transform: scale(1.1);
} */