@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");




.create-container {
    display: none;
    flex-direction: column;
}
.form-img {
    width: 50%;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #3d71ae;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    transform: translateY(80px);
    transition: all 0.5s ease;
}

.progress {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #c1deff;
    border-radius: 10px;
    transition: left 0.5s ease;
    left: 0;
}
#multiStepForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    min-width: 480px;
    transition: all 0.5s ease;
    /* background-color: rgb(246, 246, 246); */
    border-radius: 36px;
}
#multiStepForm label {
    margin-top: 2em;
    font-size: 16px;
    font-weight: 700px;
}
#multiStepForm input[type="text"], #multiStepForm textarea {
    padding: 1em;
    border: 1px solid #2a63a64d;
    border-radius: 12px;
    resize: vertical;
}
#multiStepForm button:not(.previous) {
    margin-top: 3em;
    align-self: center;
    border-radius: 40px;
    width: 250px;
    color: white;
    padding: 1em 7em;
    background-color: #19385c;
    transition: all 0.3s ease;
}
#multiStepForm button:not(.previous):hover {
    background-color: #234975;
}
#multiStepForm .previous {
    border: none;
    margin: 0;
    margin-bottom: 2em;
    padding: 1em;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: visible;
    align-self: start;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
#multiStepForm .previous:hover {
    background-color: #4d4d4d;
}
.previous i {
    color: white;
}
.step {
    display: none;
}
.step.active {
    display: flex;
    flex-direction: column;
}
.step.active h2 {
    margin-bottom: 1em;
}

/* last page step 5 */
.imgDesc {
    font-size: 12px;
    color: #33333399;
}
.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0.5em 0; 
}

.drop-zone.dragover {
    border-color: #000;
    background-color: #f0f0f0;
}

.file-input {
    display: none;
}
.chooseFile {
    color: #2a63a6;
}
.fa-images {
    margin: 1em;
}
