
/* - Main content */
main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    /* take remaining space after header */
    flex-grow: 1;
}

h1 {
    text-align: center;
    padding-bottom: calc( min( 1.75em, 1vh ) );
    line-height: 110%;
    color: var(--primary-color);
}
p {
    color: var(--font-color);
    font-size: var(--body1-font-size);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc( min( 2em, 1vh ) );
    flex-basis: 50%;
    padding: 1em 4em;
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#login {
    background-color: var(--primary-color); 
    border:none;
    border-radius: 50px;
    width: calc(100% - 4em);
    padding: 13px;
    margin-top: 20px;
    white-space: nowrap;
}
#login a{
    font-family: var(--font-secondary);
    font-size: var(--body2-font-size);
    color: var(--background-color);



}

.graphics {
    flex: 1;
    flex-basis: 50%;
    align-self: stretch; /* fullheight when parent is flex row */
    max-height: 50vh;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.graphics img {
    position: absolute;
    height: 60%;
    width: auto; /* preserve aspect ratio */
    object-fit: cover;
    border: 1em solid;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
}

.graphics img:nth-child(1) {
    transform: translate(-25%, -35%) rotate(20deg) scale(0.9);
    border-color: #456990;
}

.graphics img:nth-child(2) {
    border-color: #f9dc5c;
}

/* - Ipad to small laptop */
@media screen and (min-width: 769px) {
    

    main {
        flex-direction: row;
    }

    h1 {
        text-align: left;
        font-size: 3em;
        padding-bottom: 0.5em;
    }

    .container {
        align-items: start;
        padding: 4em;
    }

    .description {
        text-align: left;
        align-items: start;
    }

    .graphics {
        max-height: unset;
        overflow: hidden;
    }

    .graphics img {
        height: auto; /* preserve aspect ratio */
        width: 55%;
        /* a bit strange, but define width in terms of max height
        so wide screens don't have the image go below the fold */
        max-width: 50vh;
    }
}

/* - Laptop to bigger screen */
@media screen and (min-width: 992px) {
 

    /* Body Content */
    h1 {
        font-size: 4em;
        /* padding-bottom: 0.25em; */
    }
}
