@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Genos", sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    padding: 0 50px;
    font-size: 20px;
    box-shadow: 0 2px 20px rgb(228, 228, 228);
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    color: black;
}
nav ul li {
    margin: 0 10px;
}

#contact {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(38, 38, 38);
}

a {
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
h1 {
    color: rgb(41, 96, 183);
    font-size: 3em;
    min-height: 85px;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    font-family: "Poppins", sans-serif;
    background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.7" d="M108.759 473.498C-1.00809 179.078 -171.133 156.663 -181.007 3.68562L-204.961 93.0117L-157.385 1178.6L354.55 1145.56C339.59 1088.01 344.337 987.326 226.305 938.206C142.939 903.513 57.1209 830.813 91.1672 736.065C131.129 624.854 133.618 540.173 108.759 473.498Z" fill="%232A63A6" stroke="%232A63A6"/><path opacity="0.7" d="M127.759 437.498C17.9919 143.078 -152.133 120.663 -162.007 -32.3144L-185.961 57.0117L-138.385 1142.6L373.55 1109.56C358.59 1052.01 363.337 951.326 245.305 902.206C161.939 867.513 76.1209 794.813 110.167 700.065C150.129 588.854 152.618 504.173 127.759 437.498Z" fill="%232A63A6" stroke="%23FFD364"/><path opacity="0.7" d="M1348.88 443.159C1586.02 630.078 1822.13 550.276 1881.77 674.81L1887 584.817L1494.04 -312L814 13.7124C851.599 54.029 875.697 142.528 1049.67 115.748C1172.55 96.8336 1310.25 108.859 1293.06 209.335C1272.88 327.27 1295.18 400.829 1348.88 443.159Z" fill="%232A63A6" stroke="%232A63A6"/><path opacity="0.7" d="M1317.88 467.159C1555.02 654.078 1791.13 574.276 1850.77 698.81L1856 608.817L1463.04 -288L783 37.7124C820.599 78.029 844.697 166.528 1018.67 139.748C1141.55 120.834 1279.25 132.859 1262.06 233.335C1241.88 351.27 1264.18 424.829 1317.88 467.159Z" fill="%232A63A6" stroke="%232A63A6"/></svg>');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    justify-content: space-evenly;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    height: 300px;
    padding-bottom: 20px;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: none;
}

/* Targeting the second label */
.form-fields label:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Check box */
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#check {
    width: 40px;
}

#create {
    width: 50%;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(38, 38, 38);
    color: white;
}

.returning {
    width: 50%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#sign-in {
    padding: 8px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    border: 2px black solid;
}

.left {
    position: absolute;
    width: 150px;
    top: 30px;
    left: -110px;
    border: 1px rgb(237, 237, 237) solid;
}

.right {
    position: absolute;
    width: 150px;
    top: 30px;
    right: -110px;
    border: 1px rgb(237, 237, 237) solid;
}
